[class*=button__icon_copy], [class*=Button__icon_copy] {
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;

  background-image: url(/src/static/icon/copy.svg);
  background-repeat: no-repeat;

  width: 14px;
  height: 16px;

  cursor: pointer;
}
