@use './variables' as *;

.#{$parent}-walletDiv {
  display: grid;
  grid-auto-flow: column;

  align-items: center;

  padding: 8px;
  column-gap: 8px;
}

.walletDiv-span {
  padding: 0 4px 0 12px;
}

.walletDiv-button {
  display: grid;
  padding: 0;
  padding-right: 8px;
}

.walletDiv-button__icon_chevron {
  padding: 0;
  margin-right: 12px;
}
