@use '/src/modificators/variables/color' as *;
@use 'sass:map';

$background-color: map-get($map: $color, $key: 'main');
$font-color: map-get($map: $color, $key: 'yellow-dark');

.walletDiv-addressBlock {
  background-color: rgba($background-color, 0.2);
  color: rgba($font-color, 1.0);
}
