.navPanel-navButton {
  display: grid;
}

.navButton-link {
  grid-row: 1 / 2;
  grid-column: 1 /2;
  justify-self: center;
  align-self: center;
}

.navButton-rectangle {
  grid-row: 1 / 2;
  grid-column: 1 /2;
  align-self: flex-end;
}
