.tip_div-div {
  background-color: rgba($color: #c4c4c4, $alpha: 1);
}

.tip_div-triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba($color: #c4c4c4, $alpha: 1);
}
