[class*=waitingIcon], [class*=WaitingIcon] {
  display: grid;
}

[class*=waitingIcon] > .fill,
[class*=WaitingIcon] > .fill
{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

[class*=waitingIcon] > .active,
[class*=WaitingIcon] > .active
{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
