@use '/src/modificators/variables/border-radius' as *;
@use 'sass:map';

$radius:  map-get($map: $radius, $key: large);

.tariffsBlock-tariffItem {
  border-radius: $radius;
  border-width: 1px;
  border-style: solid;
}
