.tariffsBlock-tariffItem {
  display: grid;

  width: 331px - 2 * 28px;

  row-gap: 8px;
  padding: 20px 28px;
}

.tariffItem-tip_div {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.tariffItem-period_span {
  margin-top: 4px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.tariffItem-apy_div {
  display: grid;

  grid-auto-flow: column;

  justify-content: start;
  align-items: center;

  column-gap: 9.18px;

  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.tariffItem-amount_span {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
