@use './variables' as *;

.#{$parent}-navPanel {
  display: grid;
  justify-content: space-between;

  grid-auto-flow: column;

  column-gap: 20px;

  grid-row: 1 / 2;
}

.navPanel-navButton {
  width: 80px;
}
