@use '../variables/color' as *;

@mixin icon-check {
  border-radius: 12px;
  background: rgba($green, $alpha: 1.0);

  background-image: url(/src/static/icon/check.svg);
  background-position: 50% 48%;
  background-repeat: no-repeat;

  width: 24px;
  height: 24px;
}
