.tariffItem-tip_div {
  position: relative;

  height: 0;
  width: fit-content;

  top: 28px;
  left: 200px;
}


.tip_div-triangle {
  position: relative;

  width: 0;
  height: 0;

  top: 34px;
  right: 7px;
}
