.actionsBlock-mainButton,
.actionsBlock-unstakeButton
{
  cursor: pointer;
}

.mainButton-span,
.unstakeButton-span
{
  cursor: pointer;
}

.actionsBlock-maxAmountSpan {
  cursor: default;
}

.actionsBlock-mainButton__waiting {
  cursor: default;
}
