[class*=waitingIcon] > .fill,
[class*=WaitingIcon] > .fill,
[class*=waitingIcon] > .active,
[class*=WaitingIcon] > .active
{
  background-size:contain
}

[class*=waitingIcon], [class*=WaitingIcon] {
  width: 34px;
  height: 34px;
}
