@use '/src/modificators-rework/variables/color' as *;
@use './variables' as *;

.#{$parent}-tariffItem {
  background-color: rgba($color: #FFFFFF, $alpha: 1.0);
  border-color: rgba($color: #DFEBF5, $alpha: 1.0);
}

.tariffItem-period {
  color: $text-main;
}

.tariffItem-apy {
  color: $text-red;
}

.tariffItem-amount {
  color: $text-subtext;
}
