@use '../variables/color' as *;
@use 'sass:map';

$color: map.get($color, green);

[class*=__icon_check] {
  border-radius: 12px;
  background: rgba($color, $alpha: 1.0);

  background-image: url(/src/static/icon/check.svg);
  background-position: 50% 48%;
  background-repeat: no-repeat;

  width: 24px;
  height: 24px;
}
