@mixin icon-cross_white {
  border-radius: 0;
  background: none;

  background-image: url(/src/static/icon/cross_white.svg);
  background-repeat: no-repeat;

  width: 18px;
  height: 18px;

  cursor: pointer;
}
