@mixin icon-walletconnect {
  border-radius: 0;
  background: none;

  background-image: url(/src/static/icon/walletconnect.svg);
  background-repeat: no-repeat;

  width: 44px;
  height: 44px;

  cursor: pointer;
}
