@import '/src/sass/variables/colors.scss';

.tip_div-div {
  background-color: rgba($color: $color-tip-background, $alpha: 1);
}

.tip_div-triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba($color: $color-tip-background, $alpha: 1);
}
