$color-primary: #FFD42C;

$color-main: #FFD42C;
$color-error: #ED1C24;
$color-background: #F3BA2F;
$color-tip-background: #C4C4C4;

$color-text-main: #343840;
$color-text-red: #DA554A;
$color-text-subtext: #828A97;

$color-white: #FFFFFF;
$color-gray-light: #EFF3F8;
$color-gray-dark: #B7C6D8;
$color-yellow-dark: #E2AD06;
$color-green: #45CA72;
$color-blue-light: #DFEBF5;
$color-black: #000000;
