@use '/src/element/span/__type/default' as span;
@use '/src/modificators/__font/-family/montserrat' as *;
@use '/src/modificators/__font/-weight/extra-bold' as *;
@use '/src/modificators/__font/-weight/semi-bold' as *;

.stakeInfoBlock-incomeSpan {
  @include span.default;
  @include montserrat;
  @include extra-bold;

  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.06em;
}

.stakeInfoBlock-promtSpan {
  @include span.default;
  @include semi-bold;

  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
