.app-stakingAppBlock {
  display: grid;

  grid-template-columns: auto auto;
  row-gap: 52px;

  padding: 64px 56px;
}

.stakingAppBlock-span {
  grid-column: 1 / 2;
  justify-self: flex-start;
}

.stakingAppBlock-walletApprovedBlock {
  grid-column: 2 / 3;
  justify-self: flex-end;
}

.stakingAppBlock-tariffsBlock {
  grid-column: 1 / 3;
}

.stakingAppBlock-calculatorBlock {
  grid-column: 1 / 3;
}

.stakingAppBlock-viewContractButton {
  justify-self: flex-end;
}
