@use './variables' as *;

.#{$parent}-tariffsBlock {
  display: grid;

  grid-template-columns: repeat(3, auto);
  row-gap: 26px;
}

.tariffsBlock-tariffItem {
  justify-self: center;
}

.tariffsBlock-tariffItem:nth-of-type(3n + 1) {
  justify-self: flex-start;
}

.tariffsBlock-tariffItem:nth-of-type(3n) {
  justify-self: flex-end;
}
