$primary: #FFD42C;

$main: #FFD42C;
$error: #ED1C24;
$background: #F3BA2F;
$background-color: rgba(243, 186, 47, 0.15);
$tip-background: #C4C4C4;

$text-main: #343840;
$text-red: #DA554A;
$text-subtext: #828A97;

$white: #FFFFFF;
$gray-light: #EFF3F8;
$gray-dark: #B7C6D8;
$yellow-dark: #E2AD06;
$green: #45CA72;
$blue-light: #DFEBF5;
$black: #000000;
