body {
  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  margin: 0;
}

.app {
  display: grid;

  grid-template-columns: auto 1170px auto;
  grid-auto-flow: row;

  row-gap: 128px;
}

.app-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.app-headerBorder {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  align-self: flex-end;
}

.app-stakingAppBlock {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.app-footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  height: 100px;
}
