.walletInfoBlock-addressBlock {
  display: grid;

  justify-content: start;
  align-items: center;

  padding: 7px 8px;
  column-gap: 8px;
}

.addressBlock-span {
  grid-column: 1 / 2;
}

.addressBlock-button {
  grid-column: 2 / 3;
  margin: 0 1.1px;
}
