.stakingAppBlock-walletApprovedBlock {
  display: grid;
  grid-auto-flow: column;

  justify-content: start;
  align-items: center;

  column-gap: 12px;
  padding: 12px 16px;

  width: fit-content;
}

.walletApprovedBlock-div {
  align-self: center;
}
