@use './variables' as *;

.#{$parent}-actionsBlock {
  display: grid;
  grid-auto-flow: column;

  justify-content: start;
  align-items: center;

  column-gap: 12px;
}

.actionsBlock-timeButton,
.actionsBlock-mainButton,
.actionsBlock-unstakeButton {
  display: grid;
  grid-auto-flow: column;

  align-items: center;
  justify-content: center;

  column-gap: 11px;
}

.actionsBlock-maxAmountSpan {
  padding-left: 8px;
}
