@use '/src/modificators/variables/color' as *;

.navButton-link__selected {
  color: rgba($color: $text-red, $alpha: 1.0);
  font-weight: 700;
}

.navButton-rectangle__selected {
  visibility: visible;
}
