@use '/src/modificators/variables/color' as *;
@use 'sass:map';

$text-color: map-get($map: $color, $key: 'text-red');

.navButton-link__selected {
  color: rgba($color: $text-color, $alpha: 1.0);
  font-weight: 700;
}

.navButton-rectangle__selected {
  visibility: visible;
}
