@import '/src/sass/variables/colors.scss';

.navButton-link__selected {
  color: rgba($color: $color-text-red, $alpha: 1.0);
  font-weight: 700;
}

.navButton-rectangle__selected {
  visibility: visible;
}
