body {
  position: absolute;
  width: 1920px;
  height: 978px;
  left: 0px;
  top: 0px;
}

#app {
  display: grid;

  grid-template-columns: 375px auto 375px;
  grid-auto-flow: row;

  row-gap: 100px;
}

.app-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.app-headerBorder {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  align-self: flex-end;
}

.app-stakingApp {
  grid-column: 2 / 3;
}
