@use 'variables' as *;

.#{$parent}-promtInput {
  display: grid;
}

.promtInput-input {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  padding: 13px 16px;
}

.promtInput-span {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  position: relative;
  justify-self: start;
  align-self: flex-start;

  top: 32px + 2 * 13px + 2 * 1px + 8px;
  left: 16px;
}
