@use '/src/modificators-rework/__font' as font;
@use '/src/modificators-rework/variables/color' as *;

@mixin default {
  @include font.default;

  border-width: 0;
  border-style: solid;

  color: rgba($color: $text-main, $alpha: 1.0);
}
