.app-stakingApp {
  display: grid;

  grid-template-columns: auto auto;
  row-gap: 52px;

  padding: 64px 56px;
}

.stakingApp-span {
  grid-column: 1 / 2;
  justify-self: flex-start;
}

.stakingApp-walletApprovedBlock {
  grid-column: 2 / 3;
  justify-self: flex-end;
}

.stakingApp-tariffsBlock {
  grid-column: 1 / 3;
}

.stakingApp-calculatorBlock {
  grid-column: 1 / 3;
}
