@import '/src/sass/variables/colors.scss';

[class*=div__icon_check], [class*=Div__icon_check] {
  border-radius: 12px;
  background: rgba($color: $color-green, $alpha: 1.0);
  padding: 0;
  margin: 0;

  background-image: url(/src/static/icon/check.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  width: 24px;
  height: 24px;
}
